language: php

cache:
  directories:
    - ~/.composer/cache
    - ~/composer

php:
  - 5.6

sudo: false

before_install:
  - if [ -f ~/composer/composer.phar ]; then mv ~/composer/composer.phar ./; else wget https://getcomposer.org/composer.phar; fi
  - mkdir -p ~/composer
  - cp composer.phar ~/composer/composer.phar

install:
  - export COMPOSER_ROOT_VERSION=1.2.x-dev
  - php -d memory_limit=-1 ./composer.phar install --no-progress --prefer-dist

script: ./bin/phpunit

addons:
  code_climate:
    repo_token: e21a828679a86ff0c9889b37a8779050005cd0ae499f787785280214c2fbf30b

after_script:
  - ./bin/test-reporter
